# Ignora tot excepte els plugins propis de ciutadania.cat
/*
!.gitignore
!docs/

# local/
!local/
local/*
!local/ciudadania_certs/

# availability/condition/ (només la condició pròpia)
!availability/
availability/*
!availability/condition/
availability/condition/*
!availability/condition/ciudadania/
!availability/condition/ciutadania_diploma/

# mod/customcert/element/ (només els elements propis)
!mod/
mod/*
!mod/customcert/
mod/customcert/*
!mod/customcert/element/
mod/customcert/element/*
!mod/customcert/element/approvedmodules/
!mod/customcert/element/hourscalculated/

# theme/
!theme/
theme/*
!theme/ciutadania/
